@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --fg-color: #545454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, span {
  font-family: sans-serif;
  color: var(--fg-color);
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Nav */

nav {
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid #dbdbdb;
}

.nav-wrapper {
  padding: 0 20px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-title {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-title span {
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item {
  position: relative;
  padding: 5px;
  margin-left: 10px;
}

.nav-list-item:first-child {
  margin-left: 0;
}

.nav-link {
  width: 25px;
  height: 25px;
  padding: 0;
}

.nav-link-icon {
  fill: #545454;
}

.nav-profile-container {
  width: 30px;
  height: 30px;
}

.nav-profile-button {
  width: 30px;
  height: 30px;
}

.nav-profile-icon {
  width: 100%;
  height: 100%;
  fill: var(--fg-color);
}

.profile-list-item {
  position: relative;
}

.nav-profile-container ul {
  position: absolute;
  top: 100%;
  left: -100%;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgb(68 88 112 / 11%);
  pointer-events: none;
  opacity: 0;
  background-color: #fff;

  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(.75) translateY(-21px);
  -ms-transform: scale(.75) translateY(-21px);
  transform: scale(.75) translateY(-21px);
  -webkit-transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
  transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
}

.nav-profile-container ul.open {
  opacity: 1;
  pointer-events: auto;

  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nav-profile-container ul li {
  padding: 0 15px;
  line-height: 35px
}

.nav-profile-container ul li:hover {
  background-color: #ececec;
}

/* Main */

main {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.content.hidden {
  opacity: 0;
}